@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var isLoginPage = Context.Request.Path.StartsWithSegments("/Identity/Account/Login");
}

<ul class="navbar-nav ms-auto d-flex align-items-center flex-row">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex align-items-center">
            <span class="auth-divider mx-2">|</span>
            <form id="logoutForm" class="d-inline" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn-login d-flex align-items-center">
                    <i class="bi bi-box-arrow-right me-1"></i> Logout
                </button>
            </form>
        </li>
    }
    else if (isLoginPage)
    {
        <li class="nav-item">
            <a class="nav-link btn-login" asp-area="" asp-page="/Index">
                <i class="bi bi-arrow-left me-1"></i> Back to Home
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn-login" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-door-open me-1"></i> Login
            </a>
        </li>
    }
</ul>