@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="BusinessName"">The Book Cellar.</h1>
    @* <a href="https://localhost:7213/Books">Click here to Open Store.</a> *@
</div>
