@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="BusinessName"">The Book Cellar.</h1>
    <a href="https://localhost:7213/Books">Open Store.</a> 
</div>
